# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Environments
.env
.venv/
venv/
env/
ENV/

# PyInstaller build
build/
dist/
*.spec

# PyArmor
pyarmor_output/
pyarmor_runtime_*/
protected/__pycache__/
protected/*.pyc

# Model files
model/*.pt
model/*.onnx
model/*.pth
model/*.enc
!model/.gitkeep

# Secret keys
key/*.key
key/*.pem
key/*.crt
key/*.der
key/*.txt
!key/.gitkeep

# Jupyter
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Obfuscated Files
dist_protected/
!dist_protected/key/.gitkeep
!dist_protected/model/.gitkeep

# Model
yolov8n.pt

# Results
results/*
results_comparison/*


